</div>
</div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">

    <div style="float:left;font-size:small;color:#7c6954;">
      <p>
        <b>
MItoCanada Foundation &nbsp
300 - 3310 South Services Road,
Burlington, Ontario, Canada L7N 3M6&nbsp
1-877-708-6486 (MITO)&nbsp
info@mitocanada.org&nbsp
Charity Business N° 81258 6667 RR0001&nbsp
<p class="navbar-text">&copy; 2017 All Rights Reserved. <a href=/policy >Policies/Security/Terms and Conditions</a></p>
           </b>
      </p>
    </div>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
<script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>