/* Custom CSS goes here */
body {
    padding-bottom: 70px;
    font-family: Arial;
    font-size: 11px;
    color: #ffffff;
    background: #202020 url(../../img/body_back.jpg) no-repeat top center fixed;
    background-size: cover;
}

  #websiteBanner {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
   
