<% include ../partials/header.ejs %>

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h3>Mitochondrial List </h3>


        <a href="/diseases/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a Disease</a>
        <br>

        </br>
        <my-app>Loading...</my-app>
        </br>
        </br>

        <form>
          <select name="primaryDropdown" id="primaryDiseaseDropdown" onchange="dropdownChange();">
            <option value="None">Search</option>
            <% if (diseases.length > 0) { %>
              <% for (let count = 0; count < diseases.length; count++) { %>
              <option 
              value = <%= diseases[count]._id %>
              data-name = "<%= diseases[count].name %>"
              
              data-symptoms = "<%= diseases[count].symptoms %>"
               >
                <%= diseases[count].name %>
              </option>
              <% } %>
            <% } %>
        </select>
        </form>
        </br>

        <script>
          var dropdownDisease = document.getElementById("primaryDiseaseDropdown");
          var strDisease = dropdownDisease.options[dropdownDisease.selectedIndex].value;
          var pageDiseaseName = document.getElementById("DiseaseName");
          var pageDiseaseType = document.getElementById("DiseaseType");
          var pageDiseaseDescription = document.getElementById("DiseaseDescription");
          var pageDiseaseSymptoms = document.getElementById("DiseaseSymptoms");
          var pageDiseaseReferences = document.getElementById("DiseaseReferences");

          function dropdownChange() {

            strDisease = dropdownDisease.options[dropdownDisease.selectedIndex].value;
            attributes = dropdownDisease.options[dropdownDisease.selectedIndex];

            if (strDisease == "None") {
              document.getElementById("DiseaseName").textContent = "Select an Option";
              document.getElementById("DiseaseType").textContent = "Select an Option";
              document.getElementById("DiseaseDescription").textContent = "Select an Option";
              document.getElementById("DiseaseSymptoms").textContent = "Select an Option";
              document.getElementById("DiseaseReferences").textContent = "Select an Option";
            } else {
             document.getElementById("DiseaseName").textContent = attributes.getAttribute('data-name');
             //document.getElementById("DiseaseType").textContent = attributes.getAttribute('data-type');
              // document.getElementById("DiseaseDescription").textContent =  attributes.getAttribute('data-description');
             document.getElementById("DiseaseSymptoms").textContent = attributes.getAttribute('data-symptoms');
              // document.getElementById("DiseaseReferences").textContent =  attributes.getAttribute('data-references');


              //window.location.replace("http://stackoverflow.com");
            }
          };
        </script>

        <table class="table table-bordered table-striped table-hover">

          <tr>
            <td>
              <h class="text-center">Name</h>
            </td>
            <td>
              <p id="DiseaseName">Select an Option</p>
            </td>
          </tr>

          <tr>
            <td>
              <h class="text-center">Type</h>
            </td>
            <td>
              <p id="DiseaseType">Select an Option</p>
            </td>
          </tr>

          <tr>
            <td>
              <h class="text-center">Description</h>
            </td>
            <td>
              <p id="DiseaseDescription">Select an Option</p>
            </td>
          </tr>

          <tr>
            <td>
              <h class="text-center">Symptoms</h>
            </td>
            <td>
              <p id="DiseaseSymptoms">Select an Option</p>
            </td>
          </tr>

          <tr>
            <td>
              <h class="text-center">References</h>
            </td>
            <td>
              <p id="DiseaseReferences">Select an Option</p>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  </br>
  <% include ../partials/angular.ejs %>
    <% include ../partials/footer.ejs %>