<% include ../partials/header.ejs %>

<h1>Hello {{displayName}}</h1>
<ul>
<li><a [routerLink]="['/diseases']">List diseases</a></li>
</ul>


<% include ../partials/angular.ejs %>
<% include ../partials/footer.ejs %>
