<% include ../partials/header.ejs %>


  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>
          <%= title %>
        </h1>

        </b><br />
        <table border="2">
          <tr>
            <td>
              <b style="font-size:large;text-align:center">MitoCanada</b>
              <br />
              <img src="Content/images/Mito_Canada_logo_webtitle.jpg"  />
            </td>
            <td>
              <p>The MitoCanada Foundation is a national charitable not-for-profit corporation established in 2010, and committed
                to seeing a cure for mitochondrial disease. We do this by investing in awareness and education activities
                to raise the profile of mitochondrial disease with health system decision-makers. Further, the Foundation
                has invested more than $1million in research in Canada. We rely on the generous support of our volunteers,
                donors, and partners in our shared mission to improve the lives of Canadians living with mitochondrial disease.
                Milestones
              </p>
              <b>Links: </b>
              <a style="color:#7c6954;" ID="HyperLink1" href="http://www.mitocanada.org/">
              MitoCanada</a>
              &nbsp;
              <a style="color:#7c6954;" ID="HyperLink2" href="https://www.facebook.com/MitoCanada/">
              Facebook</a>
              &nbsp;
              <a style="color:#7c6954;" ID="HyperLink3" href="https://twitter.com/mitocanada?lang=en">
              Twitter</a>
              &nbsp;
              <a style="color:#7c6954;" ID="HyperLink4" href="https://www.linkedin.com/company/mitocanada-foundation">
              Linkedin</a>
            </td>
          </tr>
          <tr>
            <td>
              <b style="font-size:large">RelayHealth</b>
              <img src="Content/images/relayhealth_logo_transparent.png"  />
            </td>
            <td>
              <p>
                RelayHealth provides the connectivity and solutions that enable constituents across healthcare to exchange information securely
                and conveniently. By connecting patients, providers, pharmacies, payors and pharmaceutical manufacturers,
                RelayHealth offers real-time solutions to streamline interactions throughout healthcare. The net result:
                improved care, faster access, lower costs and enhanced bottom lines.
              </p>
              <b>Links:</b>
              <a style="color:#7c6954;" ID="HyperLink5" href="http://www.relayhealth.com/">
              relayhealth</a>&nbsp;
              <a style="color:#7c6954;" ID="HyperLink6"  href="https://twitter.com/RelayHealth">
              Twitter</a>&nbsp;
              <a style="color:#7c6954;" ID="HyperLink7" href="https://www.facebook.com/RelayHealth/?ref=sgm">
              Facebook</a>&nbsp;
              <a style="color:#7c6954;" ID="HyperLink8" href="https://www.linkedin.com/company/relayhealth">
              linkedin</a>&nbsp;
            </td>
            <tr>
              <td>
                <b style="font-size:large">MitoKind (In Development)</b>
              </td>
              <td>
                <p>mitoKIND is a place where the diagnosed and undiagnosed can not only connect to offer each other support,
                  information, and comfort - but find people who are a match for their condition. There are so many types
                  of mitochondrial disease and many have yet to be discovered so it is important to be able to connect to
                  someone with your type.</p>
                <b>Links: </b>
                <a style="color:#7c6954;" ID="HyperLink9" href="https://mitokind.org/">mitoKind</a> &nbsp;
              </td>
            </tr>
          </tr>

        </table>



        <br />
        <br />
        <br />
        <br />
        <br />

      </div>
    </div>
  </div>
  <% include ../partials/angular.ejs %>
    <% include ../partials/footer.ejs %>