<% include ../partials/header.ejs %>

  <style type="text/css">
    #rssOutput {
      margin-left: 930px;
    }
  </style>

  <!-- MAIN CONTENT -->
  <div class="container" style="float:left;">
    <div class="row">
      <div>

    
        </br>

        <b style="font-size:xx-large"><%= title %></b>
        <br/>


    <br />
    <br />
    <br />
    <br />
    <br />

  </div>
  </div>
  </div>

  <% include ../partials/angular.ejs %>
    <% include ../partials/footer.ejs %>