<% include ../partials/header.ejs %>

  <style type="text/css">
    #rssOutput {
      margin-left: 930px;
    }
  </style>

  <!-- MAIN CONTENT -->
  <div class="container" style="float:left;">
    <div class="row">
      <div>

    
        </br>

        <b style="font-size:xx-large"><%= title %></b>
        <br/>

        <p style="text-align:left">
          The mitochondria provide the cell with energy. Energy for cells is created by a energy rich molecule called adenosine triphosphate
          (ATP), the mitochondria makes ATP using energy stored from food and the process of respiration (breathing). The
          mitochondria in animals and plants act as the energy supply for the processes of life. A typical animal cell will
          have on the order 1000 to 2000 mitochondria, so the cells are made to produce a lot of energy. All living cells
          have mitochondria, but some cells have more mitochondria than others ( fat cells , muscle cells , liver cells).
        </p>


        <img src="Content/images/mitochondria_1050x700.jpg" />
        
        <br />
        <br />

        <a style="color:#7c6954; font-size:small" ID="HyperLink2" href="http://hyperphysics.phy-astr.gsu.edu/hbase/Biology/mitochondria.html">Source</a>



        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

      </div>
    </div>
  </div>

  <% include ../partials/angular.ejs %>
    <% include ../partials/footer.ejs %>