<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div>
        <% if ( userFullName ) { %>
            <h2>
                Welcome <%=userFullName%>
            </h2>
            <a href="/signout">Sign out</a>
            <% } else { %>
                <a href="/signup">Sign Up</a>
                <a href="/signin">Sign In</a>
             <% } %>
    </div>
    <div>
        <%= title %>
    </div>
</body>

</html>